
.App {
  text-align: center;
  /* margin-top: 10px; */
  background-color:#d1e8ff;
  width: auto;
  height: 770px;
}
.heading{
  margin-top:50px;
}
.box{
  
  align-items: center;
  justify-content: center;
  border: none;
  display: flex;
 flex-direction: column;
}
.box img {
 
  width: 150px;
   height:30px;
   margin:10px;
   margin-bottom: 10px
}
.cardnum{
  display: flex;
  flex-direction: row;
}
.box input{
  height: 30px;
  margin: 10px;
}